peer.{{ org.key }}:
  container_name: peer.{{ org.key }}
  image: hyperledger/fabric-peer:2.4.4
  labels:
    service: hyperledger-fabric
  environment:
    - FABRIC_CFG_PATH=/etc/hyperledger/peercfg
    - FABRIC_LOGGING_SPEC=INFO
    #- FABRIC_LOGGING_SPEC=DEBUG
    - CORE_PEER_TLS_ENABLED=true
    - CORE_PEER_PROFILE_ENABLED=false
    - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
    - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
    - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
    # Peer specific variables
    - CORE_PEER_ID=peer.{{ org.key }}
    - CORE_PEER_ADDRESS=peer.{{ org.key }}:7051
    - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
    - CORE_PEER_CHAINCODEADDRESS=peer.{{ org.key }}:7052
    - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
    - CORE_PEER_GOSSIP_BOOTSTRAP=peer.{{ org.key }}:7051
    - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer.{{ org.key }}:7051
    - CORE_PEER_LOCALMSPID={{ org.msp_id }}
    - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/fabric/msp
    - CORE_OPERATIONS_LISTENADDRESS=peer.{{ org.key }}:9444
    - CORE_METRICS_PROVIDER=prometheus
    - CHAINCODE_AS_A_SERVICE_BUILDER_CONFIG={"peername":"peer.{{ org.key }}"}
    - CORE_CHAINCODE_EXECUTETIMEOUT=300s
    - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=voting_fabric 
  working_dir: /root
  command: sh -c 'DATA_PATH=/etc/hyperledger/fabric COMMAND="peer node start" /start-node.sh'
  volumes:
    - ./shell/start-node.sh:/start-node.sh
    - ./config/peer:/etc/hyperledger/peercfg
    - ./data/{{ org.key }}/peer:/etc/hyperledger/fabric
    - ./data/{{ org.key }}/peer/production:/var/hyperledger/production
    - /var/run:/var/run
  ports:
    - "{{ org.peer_port }}:7051"
    - "{{ org.peer_operations_port }}:9444"
  networks:
    - local
{% if org.keystores_initialized %}
  depends_on:
    - ca.{{ org.key }}
{% else %}
  depends_on: 
    - {{ org.key }}_nodes_initializer
{% endif %}
