version: "3.7"

networks:
  local:
    name: voting_fabric

services:
  ca_initializer:
    build:
      dockerfile: Dockerfile.alpine
    labels:
      service: hyperledger-fabric
    environment:
      - CA_USER=${GOV_CA_USER}
      - CA_PASSWORD=${GOV_CA_PASSWORD}
    command: sh -c "
      envsubst 
        < /config/gov-ca-server-config.yaml 
        \> /etc/hyperledger/fabric-ca-server/fabric-ca-server-config.yaml"
    volumes:
      - ./data/gov/ca:/etc/hyperledger/fabric-ca-server
      - ./config/ca:/config
    container_name: ca_initializer
    networks:
      - local

  ca.gov:
    image: hyperledger/fabric-ca:1.5.4
    labels:
      service: hyperledger-fabric
    environment:
      - FABRIC_CA_HOME=/etc/hyperledger/fabric-ca-server
      - FABRIC_CA_SERVER_OPERATIONS_LISTENADDRESS=0.0.0.0:17054
    ports:
      - "7054:7054"
      - "17054:17054"
    command: sh -c 'fabric-ca-server start -d'
    volumes:
      - ./data/gov/ca:/etc/hyperledger/fabric-ca-server
    container_name: ca.gov
    networks:
      - local
    depends_on: 
      - ca_initializer

{% if not keystores_initialized %}
  nodes_initializer:
    build:
      dockerfile: Dockerfile.alpine
    env_file:
      - .env
    environment:
      - FABRIC_CA_CLIENT_HOME=/data/gov/ca-client
      - FABRIC_BIN_PATH=/fabric/bin
    command: sh -c '/shell/enroll-gov.sh'
    volumes:
      - ./data:/data
      - ./shell:/shell
      - ${FABRIC_BIN_PATH}:/fabric/bin
    container_name: nodes_initializer
    networks:
      - local
    depends_on: 
      - ca.gov
{% endif %}

  orderer.gov:
    container_name: orderer.gov
    image: hyperledger/fabric-orderer:2.4.4
    labels:
      service: hyperledger-fabric
    environment:
      - FABRIC_LOGGING_SPEC=INFO
      - ORDERER_GENERAL_LISTENADDRESS=0.0.0.0
      - ORDERER_GENERAL_LISTENPORT=7050
      - ORDERER_GENERAL_LOCALMSPID=Government
      - ORDERER_GENERAL_LOCALMSPDIR=/var/hyperledger/orderer/msp
      # enabled TLS
      - ORDERER_GENERAL_TLS_ENABLED=true
      - ORDERER_GENERAL_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_GENERAL_CLUSTER_CLIENTCERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_GENERAL_CLUSTER_CLIENTPRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_GENERAL_CLUSTER_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_GENERAL_BOOTSTRAPMETHOD=none
      - ORDERER_CHANNELPARTICIPATION_ENABLED=true
      - ORDERER_ADMIN_TLS_ENABLED=true
      - ORDERER_ADMIN_TLS_CERTIFICATE=/var/hyperledger/orderer/tls/server.crt
      - ORDERER_ADMIN_TLS_PRIVATEKEY=/var/hyperledger/orderer/tls/server.key
      - ORDERER_ADMIN_TLS_ROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_ADMIN_TLS_CLIENTROOTCAS=[/var/hyperledger/orderer/tls/ca.crt]
      - ORDERER_ADMIN_LISTENADDRESS=orderer.gov:7053
      - ORDERER_OPERATIONS_LISTENADDRESS=orderer.gov:9443
      - ORDERER_METRICS_PROVIDER=prometheus
    working_dir: /root
    command: sh -c 'DATA_PATH=/var/hyperledger/orderer COMMAND=orderer /start-node.sh'
    volumes:
      - ./shell/start-node.sh:/start-node.sh
      - ./data/gov/orderer:/var/hyperledger/orderer
      - ./data/gov/orderer/production:/var/hyperledger/production/orderer
    ports:
      - 7050:7050
      - 7053:7053
      - 9443:9443
    networks:
      - local
{% if keystores_initialized %}
    depends_on: 
      - ca.gov
{% else %}
    depends_on: 
      - nodes_initializer
{% endif %}

  peer.gov:
    container_name: peer.gov
    image: hyperledger/fabric-peer:2.4.4
    labels:
      service: hyperledger-fabric
    environment:
      - FABRIC_CFG_PATH=/etc/hyperledger/peercfg
      - FABRIC_LOGGING_SPEC=INFO
      #- FABRIC_LOGGING_SPEC=DEBUG
      - CORE_PEER_TLS_ENABLED=true
      - CORE_PEER_PROFILE_ENABLED=false
      - CORE_PEER_TLS_CERT_FILE=/etc/hyperledger/fabric/tls/server.crt
      - CORE_PEER_TLS_KEY_FILE=/etc/hyperledger/fabric/tls/server.key
      - CORE_PEER_TLS_ROOTCERT_FILE=/etc/hyperledger/fabric/tls/ca.crt
      # Peer specific variables
      - CORE_PEER_ID=peer.gov
      - CORE_PEER_ADDRESS=peer.gov:7051
      - CORE_PEER_LISTENADDRESS=0.0.0.0:7051
      - CORE_PEER_CHAINCODEADDRESS=peer.gov:7052
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_PEER_GOSSIP_BOOTSTRAP=peer.gov:7051
      - CORE_PEER_GOSSIP_EXTERNALENDPOINT=peer.gov:7051
      - CORE_PEER_LOCALMSPID=Government
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/fabric/msp
      - CORE_OPERATIONS_LISTENADDRESS=peer.gov:9444
      - CORE_METRICS_PROVIDER=prometheus
      - CHAINCODE_AS_A_SERVICE_BUILDER_CONFIG={"peername":"peer.gov"}
      - CORE_CHAINCODE_EXECUTETIMEOUT=300s    
    working_dir: /root
    command: sh -c 'DATA_PATH=/etc/hyperledger/fabric COMMAND="peer node start" /start-node.sh'
    volumes:
      - ./shell/start-node.sh:/start-node.sh
      - ./config:/etc/hyperledger/peercfg
      - ./data/gov/peer:/etc/hyperledger/fabric
      - ./data/gov/peer/production:/var/hyperledger/production
    ports:
      - 7051:7051
      - 9444:9444
    networks:
      - local
{% if keystores_initialized %}
    depends_on: 
      - ca.gov
{% else %}
    depends_on: 
      - nodes_initializer
{% endif %}

  channel_initializer:
    build:
      dockerfile: Dockerfile.alpine
    env_file:
      - .env
    environment:
      - FABRIC_CA_CLIENT_HOME=/data/gov/ca-client
      - FABRIC_CFG_PATH=/fabric/config
      - FABRIC_BIN_PATH=/fabric/bin
    command: sh -c '/shell/create-channel.sh'
    volumes:
      - ./config:/fabric/config
      - ./data:/data
      - ./shell:/shell
      - ${FABRIC_BIN_PATH}:/fabric/bin
    container_name: channel_initializer
    networks:
      - local
    depends_on: 
      - orderer.gov
      - peer.gov
