version: "3.7"

networks:
  local:
    name: voting_fabric

services:
{% filter indent(width=2) -%}
{% for org in orgs %}
{% include "templates/ca.yaml.j2" %}
{% include "templates/nodes.yaml.j2" %}
{% endfor %}
{% include "templates/channel.yaml.j2" %}
{% endfilter %}
